<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.deal.StatusRepository">

    <insert id="create">
        INSERT INTO status (Status) VALUES (#{status})
    </insert>

    <select id="findById" resultMap="StatusResultMap">
        SELECT * FROM rental.status WHERE id = #{id}
    </select>

    <select id="findByRentalDealId" resultMap="StatusResultMap">
        SELECT * FROM status WHERE id IN (SELECT Status_id FROM rental.rental_deal WHERE id = #{rentalDealId})
    </select>

    <resultMap id="StatusResultMap" type="com.solvd.model.deal.Status" autoMapping="false">
        <id property="id" column="id"/>
        <result property="status" column="Status"/>
    </resultMap>
</mapper>